<!DOCTYPE html>
<html lang="en" ng-app="GDADocerApp" manifest="manifest.appcache">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>GDA-DOCER-UI</title>

<!-- Startup configuration -->
<link rel="manifest" href="manifest.json">

<!-- Bootstrap -->
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="bower_components/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">

<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="MainController">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="btn-group">
					<button type="button" class="btn btn-default" title="Carica Documento" ng-click="openUploadModals()">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<!--
					<button type="button" class="btn btn-default" title="Scarica Documento" ng-disabled="!selected" ng-click="download(selected)">
						<span class="glyphicon glyphicon-download-alt"></span>
					</button>
					-->
					
					<!-- TEST DOWNLOAD LINK DIRETTO x WEBKIT -->
					
					<a class="btn btn-default" title="Scarica Documento TEST" href="test-docer/test.pdf" target="_blank">
						<span class="glyphicon glyphicon-download-alt"></span> TEST DOWNLOAD
					</a>
					
					<a class="btn btn-default" title="Scarica Documento" ng-disabled="!selectedDoc" ng-href="api/docer/documents/{{selectedDoc.id}}/download">
						<span class="glyphicon glyphicon-download-alt"></span>
					</a>
									
					<button type="button" class="btn btn-default" title="Elimina Documento" ng-disabled="!selectedDoc" ng-click="delete(selected)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Nome</th>
							<!-- <th>Titolo</th> -->
							<th>Versione</th>
							<th>Dimensioni</th>
							<th>Data Creazione</th>
							<th>Data Modifica</th>
							<th>Tipo</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="doc in docs" ng-click="clickRow(doc)" ng-class="{'info':doc.selected}" ng-dblclick="doubleClickRow(doc)">
							<td>
								<i class="fa fa-file-o" ng-if="doc.TIPO_COMPONENTE != 'PRINCIPALE'" title="{{doc.TIPO_COMPONENTE}}"></i>
								<i class="fa fa-file" ng-if="doc.TIPO_COMPONENTE == 'PRINCIPALE'" title="{{doc.TIPO_COMPONENTE}}"></i>
								<i class="fa fa-folder" ng-if="doc.directory"></i>
							</td>
							<td>
								<span ng-bind="doc.DOCNAME" title="{{doc.DOC_HASH}}"></span>
								<span ng-bind=""></span>
							</td>
							<!-- <td ng-bind="doc.titolo"></td> -->
							<td>
								<span ng-bind="doc.versione" ng-if="doc.TYPE_ID != 'DOCUMENTO'"></span>
							</td>
							<td>
								<span ng-bind="doc.dimensioni" ng-if="doc.TYPE_ID != 'DOCUMENTO'"></span>
							</td>
							<td>
								<span ng-bind="doc.CREATED|date:'dd/MM/yyyy HH:mm'"></span>
							</td>
							<td>
								<span ng-bind="doc.MODIFIED|date:'dd/MM/yyyy HH:mm'"></span>
							</td>
							<td>
								<span ng-bind="doc.contentType" ng-if="doc.TYPE_ID != 'DOCUMENTO'"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Attributi</div>
					<div>
					<div class="panel-body">
						<div class="form-group">
							<label for="titolo">Titolo</label>
							<input type="text" class="form-control" id="titolo" placeholder="titolo" ng-model="selectedDoc.titolo">
						</div>
						<div class="form-group">
							<label for="descrizione">Descrizione</label>
							<input type="text" class="form-control" id="descrizione" placeholder="descrizione" ng-model="selectedDoc.nome">
						</div>
					</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Versioni</div>
					<div class="panel-body">
						<table class="table table-condended">
							<thead>
								<tr>
									<th>Versione</th>
									<th>Note</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ver in versions">
									<td>{{ver.versione}}</td>
									<td>{{ver.note}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
    
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
	<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
	
	<!-- <script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script> -->
	<!-- <script src="bower_components/angular-file-saver/dist/angular-file-saver.min.js"></script> -->
	
	<script src="app.js"></script>
</body>
</html>